<p id="notice"><%= notice %></p>

<h1>Static Feeds</h1>

<table>
  <thead>
    <tr>
      <th>Static feed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
      <tr>
        <td><%= @static_feed.static_feed %></td>
        <td><%= link_to 'Back', locations_path %></td>
        <td><%= link_to 'Edit', edit_static_feed_path(@static_feed) %></td>
      </tr>
  </tbody>
</table>
