<p id="notice"><%= notice %></p>

<h3><strong>Static feed:</strong></h3>
    <p><%= link_to 'Edit', edit_static_feed_path(@static_feed) %> |	
		<%= link_to 'Back', locations_path %></p>
  	<p><%= @static_feed.static_feed %></p>