<p id="notice"><%= notice %></p>

<p>
  <strong>Static feed:</strong>
  <%= link_to 'Edit', edit_static_feed_path(@static_feed) %> |
	<%= link_to 'Back', locations_path %>
  <%= @static_feed.static_feed %>
</p>


