<p id="notice"><%= notice %></p>

<p>
  <strong>Static feed:</strong>
  <%= @static_feed.static_feed %>
</p>

<%= link_to 'Edit', edit_static_feed_path(@static_feed) %> |
<%= link_to 'Back', locations_path %>
