<div class="contact-info h-card vcard">
  <h4><%= location.name %></h4>
  <p>1234 Main Street</p>
  <p>Bend, OR 97870</p>
  <h3><%= location.phone %></h3>
  <p>single_domain@gmail.com</p>

  <h4><%= link_to "Get G5", href="https://www.getg5.com", target: :_blank %></h4>
</div>
