<div class="row contact-info h-card vcard center">
  <h4><%= location.name %></h4>
  <p>1234 Main Street</p>
  <p>Bend, OR 97870</p>
  <h3><%= location.phone %></h3>
  <p>single_domain@gmail.com</p>
</div>
