<ul class="nav nav-tabs">
  <li role="presentation"><a href="<%= root_path %>">Corporate Home</a></li>
  <li role="presentation"><a href="<%= property_path_url %>">Location Home</a></li>
  <li role="presentation"><a href="<%= property_about_path_url %>">About</a></li>
</ul>