<nav class="nav">
  <a class="nav-link active" href="<%= root_path %>">Corporate Home</a>
  <a class="nav-link" href="<%= property_path_url %>">Location Home</a>
  <a class="nav-link" href="<%= property_about_path_url %>">About</a>
</nav>