// confirm file called
console.log("create.js.erb file");

// remove current DOM element stating there are no features yet (if no features yet exist)
// $("#comments h4").html(""); 
$("#features h4").replaceWith( "<ul></ul>" ); 

// add new feature to end of features section
$("#features ul").append('<li><%=  @feature.name %></li>');
$('#feature_name').val('');

// replace feature form so user can only comment once (if desirable)
// $(".feature_form").html("<h1>You have commented on this post</h1>");